/*  Assignment W4B Okoktoks Pizza Homepage Style Sheet
    Modified October 24, 2020
    By Karen Evans*/

    @import '_mixins.scss';
    $font-color: black;

    /* Mobile rules first */

@media only screen and (min-width: 600px) {
    #mobile-logo {
        display:none;
    }
}

/* Tablet media query rules */
@media only screen and (min-width: 768px) {
    .grid-wrapper{
        display: grid; /*tells the browser to display in a grid layout*/
        grid-template-columns: 100%;
        grid-template-rows: 100px 1000px 10px;  
        grid-template-areas:
        'header'
        'main'
        'footer';
        min-height: 100vh;
    }
}
/* Desktop media query rules */
@media only screen and (min-width: 1400px) {
    .grid-wrapper{
        display: grid; /*tells the browser to display in a grid layout*/
        grid-template-columns: 100%;
        grid-template-rows: 100px 800px 100px;  
        grid-template-areas:
        'header'
        'main'
        'footer';
        min-height: 100vh;
    }
}


*{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

body {
        background: #024d1f;
        color: $font-color;
        font-family: 'Istok Web';
        font-size: 1rem;
    }

header {
        padding: 10px;
        background-color: #AD1A12;
        font-size: 70%;
        color: $font-color;
        text-align: center;
        min-height: 100px;

        img {
            float: left;
            }

        nav {
            float: right;
            padding-bottom: 20px;
            color: #8aff54;

            ul {
                list-style-type: none; /*Removes the bullets from the nav bar*/
                overflow: hidden; /*added to prevent elements from going outside of the list*/
            }

            ul li {
                float: left;
            }

            ul li a {
                display: block; /*By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line */
                color: #38ec15;
                text-align: center;
                padding: 10px;
            }
            }
    
        }


  
a {
    /* unvisited link */
    color: #e4ce0d;

     /* visited link */
    &:visited 
    {
        color: #54FF95;
    }

    &:active
    {
     font-weight: bold;
    }
}

main {  
        margin-bottom: 10px;
        text-align: left;
        color:$font-color;
        height: min-content;
    }

#promobar {
        @include special-text();
        background-color: white;
        margin-top: 10px;
        text-align: center;
        height: 100px;
    }

#aboutus{
    
    height: 100%;
    margin: 10px;
}

section p {
    text-align: left;
}

.container
    {
        text-align: center;
        align-items: center;
        height: 400px;
        margin-top: 20px;
        padding: 1rem;
        border-style: inset;
        background-color:#AD1A12;
        border-color: rgb(3, 3, 3);
        text-align: center;
    }
   

iframe {
        width: 75%;
        display: inline;
        align-items: center;
        object-fit: contain;
        padding: 10px;
        height: 300px;
    }


#socialmedia {
 
        margin-top: 10px;
        vertical-align: middle;
        padding: 10px;
        background-color: #54FF95;
        height: min-content;
    }
    
footer
    {
        height: min-content;
        vertical-align: middle;
        text-align: center;
        color: $font-color;
        size: 5px;
        margin-bottom: 10px;
    }
// menupage style rules 

// div.food-menu ul
// {
//     background-color: pink
// }
/* Style The Dropdown Button */
.dropbtn {
    background-color: #058609;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }


  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: relative;
    height: 100px;
    background-color: #f9f9f9;
    min-width: 600px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-top: 0px;
  }
  

  /* Change color of dropdown links on hover */
  .dropdown-content:hover {
    background-color: teal;
  }
  

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  } 

