/*  Assignment W4B Okoktoks Pizza Homepage Style Sheet
    Modified October 6, 2020
    By Karen Evans
*/
html {
    margin: 0;
    padding: 0;
    background: #2E0854;
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
}

h1 {
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
    text-align: center;
    }

#Menulink{
    bu
        display: inline;
        border-color: black;
        background-color: #024b4b;
        color: #008B8B;
        font-family: 'TimesNewRoman', cursive;
        margin: 10;
        padding: 6;
    }
    
#Locationlink
{
    display: inline;
    border-color: black;
    background-color:  #024b4b;
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
}

   
#Yelplink
{
    display: inline;
    border-color: black;
    border-style: outset;
    background-color:  #024b4b;
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
}
a   {
        color: #008B8B;
        font-family: 'TimesNewRoman', cursive;
    }
#video-container {
        display: grid;
        align-items: center;
        justify-items: center;
        font-size: ;
    } 
#About-Us
{  
    text-align: center;
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
}
footer
    {
        text-align: center;
        color: #008B8B;
        font-family: 'TimesNewRoman', cursive;
        size: 0ch;
    }
