/*  Assignment W4A Okoktoks Pizza Home Page Style Sheet
    Created October 6, 2020
    By Karen Evans
*/
html {
    margin: 0;
    padding: 0;
    background: #2E0854;
    font-family: 'TimesNewRoman', cursive;
    color: #ffffff;
}


#page-container {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    font-size: ;
}

h1 {
    color: #008B8B;
    font-family: 'TimesNewRoman', cursive;
    text-align: center;
    }

