/*  Assignment W4B Okoktoks Pizza Homepage Style Sheet
    Modified October 6, 2020
    By Karen Evans
*/
html 
    {
        margin: 0;
        padding: 0;
        background: #2b6851;
        color: #000808;
        font-family: 'TimesNewRoman', cursive;
    }

h1 
    {
        background: #2b6851;
        color: #000808;
        font-family: 'TimesNewRoman', cursive;
        text-align: center;
    }

ul
    {
        list-style-type: none; /*Removes the bullets from the nav bar*/
        margin: 0; /*setting to 0 removes browser default settings*/
        padding: 0;
        overflow: hidden; /*added to prevent elements from going outside of the list*/
        background-color: #89d4b7;
    }

    li
    {
        float: left;
        padding: 60px;
    }

li a 
    {
        display: block; /*By default, <li> elements are block elements. Here, we remove the line breaks before and after each list item, to display them on one line */
        color:  #89d4b7;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
  }

/*
.container
    {
        display: inline;
        padding-left: 500px;
        text-align: center;
       
    }*/
iframe
    {
        display: inline;
        padding-left: 400px;
    }
main
    {  
        text-align: left;
        text-justify: auto;
        color: black;
        font-family: 'TimesNewRoman', cursive;
        margin: 10px;
        background-color: #89d4b7;
    }

footer
    {
        text-align: center;
        color: black;
        font-family: 'TimesNewRoman', cursive;
        size: 3px;
    }
