/*  Assignment W4B Okoktoks Pizza Order Style Sheet
    created November 09, 2020
    By Karen Evans*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (min-width: 300px) {
  #mobile-logo {
    display: none;
  }
}

@media only screen and (min-width: 320px) {
  .Order-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 900px 1fr 200px;
        grid-template-rows: 900px 1fr 200px;
    min-height: 100vh;
    background-color: #d6bd94;
    font-family: "Intro";
    border-style: ridge;
    border-width: 10px;
    border-color: goldenrod;
  }
  .Order-grid > header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 320px;
        grid-template-columns: 320px;
    -ms-grid-rows: 50px 400px 400px;
        grid-template-rows: 50px 400px 400px;
    padding-top: 50px;
  }
  .Order-grid > header .navbar {
    -ms-grid-column-align: start;
        justify-self: start;
    position: relative;
    font-size: 18px;
    color: black;
    background: #d6bd94;
  }
  .Order-grid > header .navbar .menu {
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: #d6bd94;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    list-style-type: none;
  }
  .Order-grid > header .navbar .fa-bars {
    font-size: 2rem;
    color: #cd0101;
  }
  .Order-grid > header .navbar .hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 30px;
    opacity: 0;
    cursor: default;
  }
  .Order-grid > header .navbar .hamburger-button:checked ~ .menu {
    -webkit-transform: none;
            transform: none;
  }
  .Order-grid > header .navbar .hamburger-button:checked ~ .fa-bars:before {
    content: "\f00d";
  }
  .Order-grid > header .logo {
    width: 100%;
    height: auto;
  }
  .Order-grid > header .logo > h3 {
    color: #a51818;
    padding-top: 20px;
    text-align: center;
  }
  .Order-grid .promo {
    position: relative;
    padding-top: 50px;
    padding-right: 25px;
    font-weight: bolder;
    text-align: center;
    color: #a51818;
  }
  .Order-grid .promo > img {
    width: 100%;
    height: auto;
  }
  .Order-grid .promo > h3 {
    padding-top: 140px;
  }
  .Order-grid .food-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: 0.25rem;
  }
  .Order-grid .food-menu > div {
    color: white;
  }
  .Order-grid .food-menu > div > h1 {
    color: black;
    text-align: center;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
  }
  .Order-grid .food-menu > .item {
    background-color: #d6bd94;
  }
  .Order-grid .food-menu > .item > .image {
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  .Order-grid > footer {
    font-size: 20px;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 20px;
    background-color: #d6bd94;
    border-style: groove;
    border-width: thick;
    border-color: darkgreen;
    text-align: center;
  }
  .Order-grid > footer .socialmedia {
    margin-top: 10px;
    vertical-align: middle;
    height: 70px;
    border-style: groove;
    border-width: thick;
    border-color: darkgreen;
  }
  .Order-grid > footer .contact > p {
    padding: 2px;
  }
  .Order-grid > footer .contact > div > p {
    font-size: 10px;
    text-align: left;
    padding-top: 25px;
  }
}

@media only screen and (min-width: 320px) and (min-width: 991px) {
  .Order-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 500px 1fr 200px;
        grid-template-rows: 500px 1fr 200px;
    min-height: 100vh;
    background-color: #d6bd94;
    font-family: "Intro";
    border-style: ridge;
    border-width: 10px;
    border-color: goldenrod;
  }
  .Order-grid > header {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px 50% 50%;
        grid-template-columns: 50px 50% 50%;
    -ms-grid-rows: 50px 400px 400px;
        grid-template-rows: 50px 400px 400px;
    padding-top: 50px;
  }
  .Order-grid > header .navbar {
    -ms-grid-column-align: start;
        justify-self: start;
    position: relative;
    font-size: 18px;
    color: black;
    background: #d6bd94;
  }
  .Order-grid > header .navbar .menu {
    position: fixed;
    top: 100px;
    left: 0px;
    background-color: #d6bd94;
    width: 100px;
    height: 100px;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: -webkit-transform 0.2s ease-in-out;
    transition: -webkit-transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out;
    transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    list-style-type: none;
  }
  .Order-grid > header .navbar .fa-bars {
    font-size: 2rem;
    color: #cd0101;
  }
  .Order-grid > header .navbar .hamburger-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 28px;
    height: 30px;
    opacity: 0;
    cursor: default;
  }
  .Order-grid > header .navbar .hamburger-button:checked ~ .menu {
    -webkit-transform: none;
            transform: none;
  }
  .Order-grid > header .navbar .hamburger-button:checked ~ .fa-bars:before {
    content: "\f00d";
  }
  .Order-grid > header .logo {
    width: 100%;
    height: auto;
  }
  .Order-grid > header .logo > h3 {
    color: #a51818;
    padding-top: 20px;
    text-align: center;
  }
  .Order-grid .promo {
    position: relative;
    padding-top: 50px;
    padding-right: 25px;
    font-weight: bolder;
    text-align: center;
    color: #a51818;
  }
  .Order-grid .promo > img {
    width: 100%;
    height: auto;
  }
  .Order-grid .promo > h3 {
    padding-top: 140px;
  }
  .Order-grid .food-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    background-color: white;
    grid-gap: 0.25rem;
  }
  .Order-grid .food-menu > div {
    color: white;
  }
  .Order-grid .food-menu > div > h1 {
    color: black;
    text-align: center;
    -ms-grid-column: 2;
        grid-column-start: 2;
    grid-column-end: 2;
  }
  .Order-grid .food-menu > .item {
    background-color: #d6bd94;
  }
  .Order-grid .food-menu > .item > .image {
    height: 200px;
    background-size: cover;
    background-position: center center;
  }
  .Order-grid > footer {
    font-size: 20px;
    font-weight: bold;
    position: -webkit-sticky;
    position: sticky;
    padding-top: 20px;
    background-color: #d6bd94;
    border-style: groove;
    border-width: thick;
    border-color: darkgreen;
    text-align: center;
  }
  .Order-grid > footer .socialmedia {
    margin-top: 10px;
    vertical-align: middle;
    height: 70px;
    border-style: groove;
    border-width: thick;
    border-color: darkgreen;
  }
  .Order-grid > footer .contact > p {
    padding: 2px;
  }
  .Order-grid > footer .contact > div > p {
    font-size: 10px;
    text-align: left;
    padding-top: 25px;
  }
}
/*# sourceMappingURL=style.css.map */