/*  Assignment W4B Okoktoks Pizza Order Style Sheet
    created November 09, 2020
    By Karen Evans*/

// ORDER.HTML STYLES

// @import "_mixins.scss";
$fontcolor: rgb(205, 1, 1);
$border: #23856d;
$tanbackground: rgb(214, 189, 148);
$redbackground: rgb(165, 24, 24);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@media only screen and (min-width: 300px) {
    #mobile-logo {
        display: none;
    }
}

@media only screen and (min-width: 320px) {

.Order-grid {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 900px 1fr 200px;
    min-height: 100vh;
    background-color: $tanbackground;
    font-family: "Intro";
    border-style: ridge;
    border-width: 10px;
    border-color: goldenrod;

    > header {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: 50px 400px 400px;
        padding-top: 50px;
        // grid-auto-flow: column;
        
            //  Provided by my amazing instructor James Allen!
            .navbar {
                justify-self: start;
                position: relative;
                font-size: 18px;
                color: black;
                background: $tanbackground;

                .menu {
                    position: fixed;
                    top: 100px;
                    left: 0px;
                    background-color: $tanbackground;
                    width: 100px;
                    height: 100px;
                    transform: translateX(-100%);
                    transition: transform 0.2s ease-in-out;
                    list-style-type: none;

                }

                .fa-bars {
                    font-size: 2rem;
                    color: $fontcolor;
                }

                .hamburger-button {
                    position: absolute;
                    // text-align: left;
                    top: 0;
                    right: 0;
                    width: 28px;
                    height: 30px;
                    opacity: 0;
                    cursor: default;

                    &:checked {
                        ~ .menu {
                            transform: none;
                        }

                        ~ .fa-bars:before {
                            content: "\f00d";
                        }
                    }
                }
            } 
        
            .logo {
                width:100%;
                height: auto;

                > h3 {
                    color: $redbackground;
                    padding-top: 20px;
                    text-align: center;
                }
            }
        } 

            .promo {
                position: relative;
                padding-top: 50px;
                padding-right: 25px;
                font-weight: bolder;
                text-align: center;
                color: $redbackground;

                > img {
                    width: 100%;
                    height: auto; 
                    
                }

                > h3{

                    padding-top: 140px;
                }
            } 


       .food-menu {      
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
            background-color: white;
            grid-gap: 0.25rem;

            >div{

                color: white;
            }
            > div > h1 {
                color: black;
                text-align: center;
                grid-column-start: 2;
                grid-column-end: 2;
            }
                
            > .item {
                background-color: $tanbackground;
                
                > .image {
                    height: 200px;
                    background-size: cover;
                    background-position: center center;
                }
                
            }
                
        }

        
        > footer {
            font-size: 20px;
            font-weight: bold;
            position: sticky;
            padding-top: 20px;
            background-color: $tanbackground;
            border-style: groove;
            border-width: thick;
            border-color: darkgreen;
            text-align: center;
            
    
            .socialmedia {
                margin-top: 10px;
                vertical-align: middle;
                height: 70px;
                border-style: groove;
                border-width: thick;
                border-color: darkgreen;
                }
    
            .contact {
                >p{
                    padding: 2px;
                }
                > div > p {
                    font-size: 10px;
                    text-align: left;
                    padding-top: 25px;
                }
            }
    
                
        }
    
    } 

  // DESKTOP
@media screen and (min-width: 991px)
    
{
    .Order-grid {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 500px 1fr 200px;
    min-height: 100vh;
    background-color: $tanbackground;
    font-family: "Intro";
    border-style: ridge;
    border-width: 10px;
    border-color: goldenrod;

    > header {
        display: grid;
        grid-template-columns: 50px 50% 50%;
        grid-template-rows: 50px 400px 400px;
        padding-top: 50px;
        // grid-auto-flow: column;
        
            //  Provided by my amazing instructor James Allen!
            .navbar {
                justify-self: start;
                position: relative;
                font-size: 18px;
                color: black;
                background: $tanbackground;

                .menu {
                    position: fixed;
                    top: 100px;
                    left: 0px;
                    background-color: $tanbackground;
                    width: 100px;
                    height: 100px;
                    transform: translateX(-100%);
                    transition: transform 0.2s ease-in-out;
                    list-style-type: none;

                }

                .fa-bars {
                    font-size: 2rem;
                    color: $fontcolor;
                }

                .hamburger-button {
                    position: absolute;
                    // text-align: left;
                    top: 0;
                    right: 0;
                    width: 28px;
                    height: 30px;
                    opacity: 0;
                    cursor: default;

                    &:checked {
                        ~ .menu {
                            transform: none;
                        }

                        ~ .fa-bars:before {
                            content: "\f00d";
                        }
                    }
                }
            } 
        
            .logo {
                width:100%;
                height: auto;

                > h3 {
                    color: $redbackground;
                    padding-top: 20px;
                    text-align: center;
                }
            }
        } 

            .promo {
                position: relative;
                padding-top: 50px;
                padding-right: 25px;
                font-weight: bolder;
                text-align: center;
                color: $redbackground;

                > img {
                    width: 100%;
                    height: auto; 
                    
                }

                > h3{

                    padding-top: 140px;
                }
            } 


       .food-menu {      
            display: grid; 
            grid-template-columns: 1fr 1fr 1fr;
            background-color: white;
            grid-gap: 0.25rem;

            >div{

                color: white;
            }
            > div > h1 {
                color: black;
                text-align: center;
                grid-column-start: 2;
                grid-column-end: 2;
            }
                
            > .item {
                background-color: $tanbackground;
                
                > .image {
                    height: 200px;
                    background-size: cover;
                    background-position: center center;
                }
                
            }
                
        }

        
        > footer {
            font-size: 20px;
            font-weight: bold;
            position: sticky;
            padding-top: 20px;
            background-color: $tanbackground;
            border-style: groove;
            border-width: thick;
            border-color: darkgreen;
            text-align: center;
            
    
            .socialmedia {
                margin-top: 10px;
                vertical-align: middle;
                height: 70px;
                border-style: groove;
                border-width: thick;
                border-color: darkgreen;
                }
    
            .contact {
                >p{
                    padding: 2px;
                }
                > div > p {
                    font-size: 10px;
                    text-align: left;
                    padding-top: 25px;
                }
            }
    
                
        }
    
    } 
       
}
}